<html>
    <head>
        <title>Auth</title>
        <link href="/s/style.css" rel="stylesheet" />
    </head>
    <body>
        <a href='/'>Log in</a>
        <a href='/user-info'>Information</a>
        <a href='/user-list'>List (only for Admin)</a>
        {% block %}{% endblock %}
    </body>
</html>