<html>
    <head>
        <title>Auth</title>
        <link href="/s/style.css" rel="stylesheet" />
    </head>
    <body>
        <a href='/index'>Add link</a>
        <a href='/login'>Log In</a>
        <a href='/list'>All links</a>
        {% block %}{% endblock %}
    </body>
</html>